body{
    background-image: url(png/Background.png);
    background-size: cover;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:row;
    flex-wrap: wrap;
}

.textContainer{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.inputText{
    background-image: url(png/TextInputBG.jpeg);
    background-size: cover;
    background-color: #ffdea5;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 50vh;
    width: 95%;
    resize: none;
}

.secondRow{
    width: 100%;
    margin-left: 2.5%;
    display: flex;
    justify-content: space-evenly;
}

.Key{
    width: 45%;
    margin-right: 2%;
    /*margin-left: 2.5%;*/
}

.alphabethHolder{
    text-align: right;
    width: 50%;
}

.alphabeth{
    width: 90%;
    height: 100%;
    margin-right: 5%;
}

.cbutton{
    margin-right: 2%;

}
.dbutton{
    margin-right: 0;
}

button{
    background-image: url(png/Button.png);
    background-size: cover;
    width: 100px;
    height: 50px;
    border-radius: 10px;
}

.newTextCover{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;

}

.newText{
    background-image: url(png/TextInputBG.jpeg);
    background-size: cover;
    background-color: #ffdea5;
    border: none;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 50vh;
    width: 95%;
    resize: none;
}
.newText:hover{
    cursor: auto;
}